language: python
dist: xenial
sudo: false
python:
  - "2.7"
  - "3.6"
  - "3.7"
  - "3.7-dev"
# command to install dependencies
install: 
  - pip install -r requirements.txt
# Command to run tests
script: python tests/ssh_config_test.py