[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyparsing = "*"
texttable = "*"
Jinja2 = "*"
click = "*"
paramiko = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "21.6b0"
coverage = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
